.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border-radius: 1.5rem;
  background-color: #da3f3f;
  padding: 0 1rem;
  height: 2rem;
}
.badge span {
  color: rgba(var(--color-background));
  font-size: calc(var(--font-body-scale) * 1.1rem);
  font-weight: 500;
  line-height: 0;
}