.xo-pickup-availability-item {
  display: flex;
  gap: 1rem;
}

.xo-pickup-availability-item__icon {
  flex-shrink: 0;
  color: #428445;
  margin-top: 0.4rem;
}

.xo-pickup-availability-item__name {
  font-size: calc(var(--font-body-scale) * 1.6rem);
}
.xo-pickup-availability-item__name .color-foreground {
  font-weight: 500;
  color: rgba(var(--color-foreground));
}

.xo-pickup-availability-item__time {
  font-size: calc(var(--font-body-scale) * 1.6rem);
}