.product-description-style9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--text-boxes-radius);
  transition: 0.3s;
}
.product-description-style9 .product-description__img-wrap {
  overflow: hidden;
  height: fit-content;
  border-radius: var(--text-boxes-radius);
  aspect-ratio: 1360/457;
}
.product-description-style9 .product-description__img-wrap--2 {
  aspect-ratio: 433/285;
}
.product-description-style9 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}