.product-description-style18 h3 {
  font-size: calc(var(--font-heading-scale) * 2.7rem);
}
.product-description-style18 a {
  color: rgba(var(--color-foreground));
}
.product-description-style18 a:hover {
  color: rgba(var(--color-accent));
}
.product-description-style18 img {
  width: 100%;
  transition: 0.3s;
}
.product-description-style18 .product-description__img-wrap {
  overflow: hidden;
  height: fit-content;
}
.product-description-style18 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}