.product-description-style20 h3 {
  font-size: calc(var(--font-heading-scale) * 4.2rem);
}
.product-description-style20 img {
  width: 100%;
  transition: 0.3s;
}
.product-description-style20 .product-description__img-wrap {
  overflow: hidden;
  height: fit-content;
}
.product-description-style20 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}