.product-description-style2 h3 {
  line-height: calc(1 + 0.5 / var(--font-heading-scale));
  font-size: calc(var(--font-heading-scale) * 4.2rem);
}
.product-description-style2 a {
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 3rem;
  background-color: rgba(var(--color-foreground));
  color: rgba(var(--color-background));
  border-radius: var(--buttons-radius);
  transition: 0.3s;
  width: fit-content;
}
.product-description-style2 a:hover {
  transform: scale(1.05);
}
.product-description-style2 img {
  width: 100%;
  transition: 0.3s;
}
.product-description-style2 .product-description__img-wrap {
  overflow: hidden;
  height: fit-content;
}
.product-description-style2 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}