.product-description-style1 h3 {
  position: relative;
  font-size: calc(var(--font-heading-scale) * 1.2rem);
  text-transform: uppercase;
  letter-spacing: calc(var(--font-heading-scale) * 0.32rem);
  padding-bottom: 0.8rem;
}
.product-description-style1 h3:before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 4.8rem;
  height: 0.1rem;
  background: rgba(var(--color-foreground));
}
.product-description-style1 p {
  font-size: calc(var(--font-body-scale) * 1.5rem);
  line-height: calc(1 + 0.8 / var(--font-heading-scale));
}
.product-description-style1 ul {
  list-style: none;
  padding: 0;
}
.product-description-style1 img {
  width: 100%;
  transition: 0.3s;
}
.product-description-style1 .product-description__img-wrap {
  overflow: hidden;
  height: fit-content;
}
.product-description-style1 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}