.xo-product-info-variant__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.xo-product-info-variant__inner--radio {
  gap: 2rem;
}

.xo-product-info-variant__header {
  display: flex;
  gap: 0.3rem;
  padding-bottom: 1rem;
}

.xo-product-info-variant__name {
  font-weight: 500;
  letter-spacing: -0.032rem;
  color: rgba(var(--color-foreground), 0.5);
}