.product-description-style4 h3 {
  font-size: calc(var(--font-heading-scale) * 2rem);
}
.product-description-style4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.product-description-style4 .product-description__img-wrap {
  overflow: hidden;
  aspect-ratio: 665/400;
}
.product-description-style4 .product-description__img-wrap--2 {
  aspect-ratio: 433/285;
  margin-bottom: 1rem;
}
.product-description-style4 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}