.product-description-style21 h3 {
  font-size: calc(var(--font-heading-scale) * 3.2rem);
  font-weight: 400;
}
.product-description-style21 img {
  width: 100%;
  transition: 0.3s;
}
.product-description-style21 .product-description__img-wrap {
  overflow: hidden;
  height: fit-content;
}
.product-description-style21 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}