.product-description-style16 img {
  width: 100%;
  transition: 0.3s;
}
.product-description-style16 .product-description__img-wrap {
  overflow: hidden;
  height: fit-content;
}
.product-description-style16 .product-description__img-wrap:hover img {
  transform: scale(1.1);
}
.product-description-style16 h3 {
  padding-top: 1rem;
  margin-bottom: 0;
}