.reviews-shop__list-star {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
  cursor: pointer;
}

.list-star {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

.star-review {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.star-review p {
  font-size: 1.2rem;
  color: rgba(var(--color-foreground), 0.4);
  padding-left: 0.6rem;
}