.about-v14 {
  max-width: 990px;
  margin: 0 auto;
}

.about-v14__items-center {
  text-align: center;
}

.about-v14__title {
  font-size: clamp(3rem, calc(1.25vw + 2.5rem), 4rem);
  line-height: calc(1 + 0.35 / var(--font-heading-scale));
  text-transform: unset;
  margin-bottom: 1.5rem;
}
@media (min-width: 992px) {
  .about-v14__title {
    font-weight: 600;
  }
}

.about-v14__title-sub {
  font-size: calc(var(--font-body-scale) * 1.6rem);
  color: rgba(var(--color-foreground), 0.5);
}

.about-v14__wrap-btn {
  margin-top: 3rem;
}
.about-v14__wrap-btn .xo-btn__text {
  font-weight: 600;
}