.main-collection__banner-modern {
  margin-bottom: 3rem;
}
.main-collection__banner-modern a {
  display: block;
}
.main-collection__banner-modern .xo-image {
  border-radius: var(--text-boxes-radius);
}
.main-collection__banner-modern img {
  width: 100%;
  border-radius: var(--text-boxes-radius);
}

.main-collection__banner a {
  display: block;
}
.main-collection__banner img {
  width: 100%;
  border-radius: var(--text-boxes-radius);
}