.related-article__carousel {
  margin-top: 3rem;
}
.related-article__carousel .carousel-pagination-style1__pagination {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .related-article__carousel .carousel-pagination-style1__pagination {
    padding-top: 4rem;
  }
}