.breadcrumb-v2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb-v2__title {
  font-size: clamp(3rem, calc(1.875vw + 2.25rem), 4.5rem);
  letter-spacing: calc(var(--font-heading-scale) * 0.1rem);
  line-height: calc(1 + 0.2 / var(--font-heading-scale));
  margin-bottom: 0.5rem;
  text-align: center;
}