.brand__inner {
  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: var(--text-boxes-radius);
}

.brand__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  border-right: 0.1rem solid rgba(var(--color-foreground), 0.15);
}
.brand__img img {
  transition: 0.5s;
  filter: grayscale(100%);
}
.brand__img .xo-image {
  overflow: unset;
}

.brand__img:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}