.shipping {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shipping_item {
  display: flex;
  gap: 1.2rem;
}
.shipping_item svg {
  padding-top: 0.3rem;
  flex-shrink: 0;
  display: flex;
  height: fit-content;
}

.shipping_item:last-child {
  padding-left: 0.2rem;
}