# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Django
*.log
media/
staticfiles/
db.sqlite3

# Migrations cache
*.sqlite3-journal

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PyCharm
*.iml
