 

{% block content %}
<div class="row">

  <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Products</h5>
        <h2 class="mb-0">{{ products }}</h2>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-sm-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Brands</h5>
        <h2 class="mb-0">{{ brands }}</h2>
      </div>
    </div>
  </div>

</div>
{% endblock %}
